@font-face {
    font-family: 'North';
    font-style: bold;
    font-weight: 800;
    src: url('./components/assets/font/North-Regular.woff2');
    src: url('./components/assets/font/North-Regular.woff2');
}
h1 {
    font-family: 'North';
}

.appfont {
    font-family: 'North';
}
.footerCss:hover {
    background: #365DD6;
    color: white;
}